.comic {
    text-align: center;
    padding: 1em;
}
.comic-info:before, .comic-info:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.comic-info:after { clear: both; }
.comic-info { zoom: 1; }
.comic-name {
    float: left;
    font-size: 120%;
    font-weight: bold;
}
.comic-author {
    float: right;
}
@media all and (orientation:portrait) {
    .comic-icontainer img {
        max-width: 700px;
        max-height: 968px;
    }
}
@media all and (orientation:landscape) {
    .comic-icontainer img {
        max-width: 968px;
        max-height: 700px;
    }
}
@media screen and (max-device-width: 480px) {

    .comic-icontainer img {
        max-width: 100%;
    }
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}