<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="Sergio Haro">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="/static/css/style.css?v=2">
    <link rel="stylesheet" href="/static/css/sencha-touch.css" type="text/css">
</head>
<body>
    {% block content %}{% endblock %}

	<script src="/static/js/sencha-touch.js"></script> 
	{% block body-scripts %}{% endblock %}
</body>
</html>